.venv
.idea
data_generator/passenger_events/*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
.terraform.lock.hcl

infra/glue_job/.terraform
infra/glue_job/.terraform.lock.hcl
infra/glue_job/*.tfstate
infra/glue_job/*.tfstate.*
infra/glue_job/crash.log
infra/glue_job/*.tfvars
infra/glue_job/override.tf
infra/glue_job/override.tf.json

infra/snowflake_integration/.terraform
infra/snowflake_integration/.terraform.lock.hcl
infra/snowflake_integration/*.tfstate
infra/snowflake_integration/*.tfstate.*
infra/snowflake_integration/crash.log
infra/snowflake_integration/*.tfvars
infra/snowflake_integration/override.tf
infra/snowflake_integration/override.tf.json

infra/aws_notification/.terraform
infra/aws_notification/.terraform.lock.hcl
infra/aws_notification/*.tfstate
infra/aws_notification/*.tfstate.*

# SNOWFLAKE
snowflake/.env
snowflake/read_from_s3_to_snowflake.py